.container {
	display: block;
	float: left;
	width: 100%;
	height: 1000px;
}

.button {
	height: 300px;
	width: 50%;
	border: black 1px solid;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	display: block;
	text-align: center;
	text-transform: capitalize;
	font-size: 10em;
}

.fill {
	background-color: red;
}

.johnson {
	height: 300px;
	width: 50%;
	border: black 1px solid;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	display: block;
	text-align: center;
	text-transform: capitalize;
	font-size: 10em;	
}
